@tailwind base;

@font-face {
  font-family: code_bold;
  src: url('/assets/fonts/code_bold.ttf');
}

@font-face {
  font-family: didot_regular;
  src: url('/assets/fonts/didot_regular.ttf');
}

@tailwind components;

@tailwind utilities;

body{
  cursor: none;
  height: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: red;
  z-index: 42;
  transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.cursor-dot--outline {
  background: grey;
}
.pageTransition{
  animation-duration: 1.5s ;
  animation-name: slidein;
  animation-timing-function: linear;
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 300%;
  }

  to {
    margin-left: 300%;
    width: 100%;
  }
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}


canvas{
  position: fixed;
  width: 100vh;
  height: 100vw;
  overflow-clip-margin: content-box;
  overflow: clip;
}